*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

header{
    height: 10%;
    width: 100%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-header);
}

body, html{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}


button{
    cursor: pointer; 
}

.containerTexto{
    margin-top: 15%;
    margin-left: 50%;
    margin-right: 50%;
    height: 100%;
    width: 100%;
}


.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}
    


#editor {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

