

.BtnlightIcon, .BtndarkIcon{
    padding: 2px;
    width: 40px;
    height: 30px;
    margin: 2px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
}

#lightIcon, #darkIcon{
    height: 20px;
    width: 20px;
}

.filter{
    height: 50%;
    width: 8%;
    margin-left: 20px;
    transition: 0.5s;
    border-radius: 20px;
    border: 2px solid var(--button-border);
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    cursor: pointer;
}

.filter:hover{
    height: 60%;
    transition: 0.2s;    
    background-color: var(--button-hover);
    color: white;
}

.btnsearch{
  width: 40px;
  margin-right: 30px;
  height: 36px;
  border: 1px solid #000000;
  background: #9ca2a3;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.btnsearch:hover{
    cursor: pointer;
    color: rgb(70, 70, 70);
    background-color: var(--button-hover);
    transition: 0.3s;
}

.btnRecipe{
    height: 40%;
    width: 10%;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-color: var(--button-border);
    color: black;
    position:static;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnRecipe:hover{
    cursor: pointer;
    color: rgb(70, 70, 70);
    background-color: var(--button-hover);
    transition: 0.3s;
}

.btnProfile{
    text-decoration: none;
    color: var(--text-950);
    position:static;
}

.btnProfile:hover{
    cursor: pointer;
    color: rgb(70, 70, 70);
    background-color: var(--button-hover);
    transition: 0.3s;
}



/*recipeStyle*/

#actress{
    text-align: center;
    font-size: 1em;
    left: 0;
    margin-top: 1;
    padding: 1px;
}

#decrease{
    text-align: center;
    font-size: 1em;
    left: 0;
    margin-top: 2px;
    padding: 1px;
}

#fontSize{
    text-align: center;
    padding: 0;
}