

.BtnlightIcon, .BtndarkIcon{
    padding: 2px;
    width: 40px;
    height: 30px;
    margin: 2px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;

}

#lightIcon, #darkIcon{
    height: 20px;
    width: 20px;
   
}

.filter{
    height: 50%;
    width: 8%;
    margin-left: 20px;
    transition: 0.5s;
    border-radius: 20px;
    border: 2px solid var(--primary-400);
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    cursor: pointer;
}

.filter:hover{
    height: 60%;
    transition: 0.2s;    
    background-color: var(--button-hover);
    color: var(--background-600);
}

.btnsearch{
  width: 40px;
  margin-right: 30px;
  height: 36px;
  border: 3px solid var(--secondary-700);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-950);
  background-color: var(--primary-50);
  border-left: transparent;
}

.btnRecipe{
    height: 40%;
    width: 150px;
    font-size: 15px;
    border: 2px solid var(--primary-800);
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color:  var(--accent-100);
    color: var(--text-950);
    position:static;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnRecipe:hover{
    cursor: pointer;
    color: var(--background-600);
    transition: 0.3s;
}

.btnProfile{
    text-decoration: none;
    color: var(--text-950);
    position:static;
}

.btnProfile:hover{
    cursor: pointer;
    color: var(--background-600);
    transition: 0.3s;
}



/*recipeStyle*/

.btnTool {
    display: flex;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    margin: 2px 2px;
    flex: 1;
    background-color: transparent;
    border: none;   
    cursor: pointer; 
}

.toolSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1em;
    margin: 3px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
}

.optTool {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}