:root{
    --color-header: #FAF5F6;
    --background-color: #fffafb;
    --separator-color: #dd8b9f;;
    --button-hover: #c43b4b;
    --button-border: #321B20;
    --filter-color: #edd8dd;
    --button:#ca7d91;

}