header{
    height: 10%;
    width: 100%;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-header);
}

body, html{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

.toolsContainer{
    display: flex;
    flex: 1;
    margin: auto;
    position: sticky;
    padding: 1%;
    top: 0;
    max-width: 70%;
    background-color: rgb(226, 228, 231);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px ;

}


.fontSizeCont{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 1px
}

button{
    width: 1em;
    height: 1em;
    display: flex;
    flex: 1;
    background-color: transparent;
    cursor: pointer; 
    border: none;
    font-size: 1.2em;
    margin: 2px 2px;
}

#actress{
    text-align: center;
    font-size: 1em;
    left: 0;
    margin-top: 1;
    padding: 1px;
}

#decrease{
    text-align: center;
    font-size: 1em;
    left: 0;
    margin-top: 2px;
    padding: 1px;
}

#fontSize{
    text-align: center;
    padding: 0;
}

button:hover {
    color: #252525;
}

select {
    font-size: 1em;
    padding: 2px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

#editor {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    min-height: 200px;
}

input[type="color"] {
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    width: 50px;
}

input[type = "text"],
input[type = "file"] {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 200px;
}


