
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* tittle and icon "tem prato" */


.temPratoLogo{
  width: 70px;
  height: 70px;
  position: static;
  margin-left: 20px;
  margin-right: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuTitle{
  align-self: center;
  position: static;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-size: 60px;
}

.subtitittle{
  position: static;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-size: 42px;
}

.homePageLink{
  position: static;
  display: flex;
  left: 0;
  color: var(--text-950);
  text-decoration: none;
}




