@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.recipeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.textRecipe{
    text-align: center;
    color: var(--text-800);
}

.card{
    position: relative;
    width: 720px;
    box-shadow: 0 3px 2px rgba(112, 5, 5, 0.2);
    overflow: hidden;
    border-radius: 7px;
    border: solid 3px var(--secondary-700);
    padding-right: 90px;
    background-color:var( --background-100);
    object-fit: cover;
}

.card img{
    width: 100%;
    height: auto;
    display: block;

}

.caption{
    position: absolute;
    bottom: 0;
    background-color: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.actions {
    position:absolute;
    display: flex;

    justify-content: space-between;
    right: 0;
    top: 0;
    margin-top: 20px;
    max-width: 400px;
}



.share span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icons ul{
    position: relative;
    right: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}

.icons a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.icons a:nth-child(1) { color: #1da1f2; } 
.icons a:nth-child(2) { color: #3b5998; }   
.icons a:nth-child(3) { color: #08bd26; } 
.icons a:nth-child(4) { color: #000000; } 
.icons a:nth-child(5) { color: #ff0000; } 

